* {
	padding: 0;
	margin: 0;
}
html {
	font-family: verdana;
	font-size: 30px;
	color: #666;
}

/* index page */
.draw {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
#square {
	border: 1px solid #999;
	width: 300px;
	height: 300px;
}
p {
	font-size: 1rem;
	margin-bottom: 50px;
}
input {
	font-size: 1rem;
	margin-top: 50px;

	background-color: #444;
	padding: 0.1rem .3rem .15rem .3rem;
	border: none;
	color: #fff;
	cursor: pointer;
}


/* squares page */
svg {
	width: 60px;
	height: auto;
	border: 1px solid #ccc;
	margin: 10px;
}
.squares {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	height: 100%;
	width: 100%;
}

