<html>
<head>
	<title>Routes</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<main>
		<form class="city-name-form">
			<input type="text" class="city-name" placeholder="Enter city name">
			<input type="submit" class="submit-button" value="Get Weather!">
		</form>
		<p class="results"></p>
	</main>

	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script src="/scripts.js"></script>
</body>
</html>