<!DOCTYPE html>
<html>
	<head>
		<title>Another Tower</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<main>
			<div id="tower">
				<div id="leftOuter">
					<div id="leftInner" class="face">
						<% include face %>
					</div>
				</div>
				<div id="rightOuter">
					<div id="rightInner" class="face">
						<% include face %>
					</div>
				</div>
			</div>
		</main>
		<script src="js/scripts.js"></script>
	</body>
</html>