<html>
<head>
	<title>Node Review!</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<h1><%= message1 %></h1>
	<h1><%= message2 %></h1>
	<% if(message3){ %>
		<h1><%= message3 %></h1>
	<% } %>

	<script>
		var message1 = '<%= message1 %>';
		console.log(message1);
	</script>
	<script src="/scripts.js"></script>
</body>
</html>