<html>
<head>
	<title>Fill Square</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<main class="draw">
		<p>Fill Square</p>
		<canvas id="square"></canvas>
		<input id="download" type="submit" value="Save">
	</main>
	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.10.2/paper-full.min.js"></script>
	<script type="text/paperscript" canvas="square">
		<% include paper %>
	</script>
</body>
</html>